@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "IranSansX";
}

.yekan-font {
  font-family: "Yekan";
}
.kalame-font {
  font-family: "Kalame";
}

.red-text-linear {
  background: linear-gradient(90deg, #E93F40 0%, #BC2727 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sliderContainer {
  scroll-snap-type: mandatory;
  scroll-behavior: smooth;
}

.footer-bg {
  background: radial-gradient(137.7% 91.32% at 94.03% 100%, #2E364D 0%, #191D28 100%);
}

/* ScrollBar */

/* Styling the overall scrollbar */
::-webkit-scrollbar {
  width: 12px;  /* Width of the scrollbar */
  height: 12px; /* Height of the scrollbar for horizontal scrolling */
}

/* Styling the track (background of scrollbar) */
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

/* Styling the scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar */
  border-radius: 10px;
  border: 3px solid #f0f0f0; /* Space around the thumb */
}

/* Hover effect for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}



@font-face {
  font-family: "IranSansX";
  src: url("/fonts/woff/IRANSansXFaNum-Regular.woff") format("woff"),
       url("/fonts/woff2/IRANSansXFaNum-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "IranSansX";
  src: url("/fonts/woff/IRANSansXFaNum-Medium.woff") format("woff"),
       url("/fonts/woff2/IRANSansXFaNum-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "IranSansX";
  src: url("/fonts/woff/IRANSansXFaNum-DemiBold.woff") format("woff"),
       url("/fonts/woff2/IRANSansXFaNum-DemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "IranSansX";
  src: url("/fonts/woff/IRANSansXFaNum-Bold.woff") format("woff"),
       url("/fonts/woff2/IRANSansXFaNum-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Yekan";
  src: url("/fonts/IRANYekanX-Bold.ttf");
}
@font-face {
  font-family: "Kalame";
  src: url("/fonts/Kalameh-Black.ttf");
}